/* sass --watch scss/estilo.scss:css/estilo.css  */
/* Variables Colores */
/* Variables Sizes */
/* Maps Colores */
/* Maps Sizes */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  color: #A3CFCD;
  background-image: linear-gradient(to bottom, #000000, #0c0b0b, #141314, #1b191a, #211f21, #211f21, #211f21, #211f21, #1b191a, #141314, #0c0b0b, #000000);
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: auto 1200px auto;
  grid-template-areas: "grid-1 grid-1 grid-1" "grid-2 grid-3 grid-7" "grid-2 grid-4 grid-7" "grid-2 grid-5 grid-7" "grid-2 grid-6 grid-7" "grid-8 grid-8 grid-8";
}
body a {
  text-decoration: none;
}

/* Bucle For */
.grid-1 {
  grid-area: grid-1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.grid-2 {
  grid-area: grid-2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.grid-3 {
  grid-area: grid-3;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.grid-4 {
  grid-area: grid-4;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.grid-5 {
  grid-area: grid-5;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.grid-6 {
  grid-area: grid-6;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.grid-7 {
  grid-area: grid-7;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.grid-8 {
  grid-area: grid-8;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.grid-9 {
  grid-area: grid-9;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

@keyframes circulo1 {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
@keyframes circulo2 {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
@keyframes circulo3 {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
@keyframes circulo4 {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
/* Header */
.header {
  z-index: 3;
  width: 100vw;
  position: fixed;
  background-color: #000000;
}
.header .header__contenedor {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #A3CFCD;
}
.header .header__contenedor .contenedor__logo {
  color: #A3CFCD;
  margin: 10px 0px 10px 30px;
}
.header .header__contenedor .contenedor__logo:hover {
  color: #677381;
}
.header .header__contenedor .navbar {
  padding: 0px;
  margin: 10px 30px 10px 0px;
}
.header .header__contenedor .navbar .container-fluid {
  background-color: #000000;
}
.header .header__contenedor .navbar .container-fluid .navbar-toggler {
  background-color: #A3CFCD;
}
.header .header__contenedor .navbar .container-fluid .navbar-nav {
  position: absolute;
  text-align: center;
}
.header .header__contenedor .navbar .container-fluid .nav-link {
  color: #A3CFCD;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #000000;
  padding: 10px 20px 10px 20px;
  margin-left: -25px;
}
.header .header__contenedor .navbar .container-fluid .nav-link:hover {
  color: #677381;
}
.header .header__contenedor .contenedor__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 0px 30px;
  gap: 15px;
}
.header .header__contenedor .contenedor__links .svg {
  height: 50px;
  width: 50px;
  color: #A3CFCD;
}
.header .header__contenedor .contenedor__links .svg:hover {
  scale: 1.2;
  color: #677381;
}

/* Inicio */
.inicio {
  width: 100%;
  position: static;
  z-index: 2;
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
}
.inicio h2 {
  font-size: 100px;
  font-weight: bold;
}
.inicio h2 {
  margin: 0px 30px 0px 30px;
}
.inicio h3 {
  font-size: 80px;
  font-style: italic;
}
.inicio h3 {
  margin: 0px 30px 0px 30px;
}

/* Tools */
.tools {
  position: static;
  z-index: 2;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  flex: column wrap;
}
.tools .titulo {
  margin: 30px;
}
.tools .tools__contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.tools .tools__contenedor .contenedor__foto {
  margin: 0px 15px 30px 15px;
  max-width: 225px;
  min-width: 125px;
  width: 19%;
  aspect-ratio: 1/1;
}
.tools .tools__contenedor .contenedor__foto .foto {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Works */
.works {
  position: static;
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.works .titulo {
  margin: 30px;
}
.works .all-works {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.works .all-works .works__contenedor .contenedor__foto {
  width: 300px;
  margin: 0px 15px 0px 15px;
  aspect-ratio: 1/2;
  margin: 0px 15px 30px 15px;
}
.works .all-works .works__contenedor .contenedor__foto .foto {
  width: 100%;
  aspect-ratio: 1/2;
}
.works .all-works .works__contenedor .contenedor__foto .foto:hover {
  scale: 1.02;
}
.works .all-works .works__contenedor .contenedor__foto .foto__tool {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.works .all-works .works__contenedor .contenedor__foto .foto__tool .tool {
  margin: 10px 5px 30px 5px;
  height: 50px;
  width: 50px;
}
.works .all-works .works__contenedor .contenedor__foto .foto__tool .tool:hover {
  scale: 1.2;
}

/* About */
.about {
  position: static;
  z-index: 2;
  height: 100vh;
  min-height: 800px;
}
.about .titulo {
  margin: 30px;
}
.about .about__texto {
  width: 100%;
}
.about .about__texto h5 {
  margin: 0px 30px 30px 30px;
  text-align: justify;
}

/* Footer */
.footer {
  background-color: #000000;
  position: static;
  z-index: 3;
  border-top: 1px solid #A3CFCD;
}
.footer h4 {
  margin: 30px 30px 30px 30px;
}
.footer h4 .svg {
  height: 50px;
  width: 50px;
}

/* Mobile Mixins */
/* 360px & 404px */
@media screen and (min-width: 360px) and (max-width: 404px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Header */
  .header .header__contenedor .contenedor__logo {
    margin: 10px 30px 10px 30px;
  }
  .header .header__contenedor .navbar {
    margin: 0px 30px 30px 0px;
  }
  /* Inicio */
  .inicio h2 {
    font-size: 30px;
  }
  .inicio h3 {
    font-size: 24px;
  }
  .header .header__contenedor .contenedor__links {
    margin: 0px 30px 30px 30px;
  }
}
/* 405px & 453px */
@media screen and (min-width: 405px) and (max-width: 453px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Header */
  .header .header__contenedor .contenedor__logo {
    margin: 10px 30px 10px 30px;
  }
  .header .header__contenedor .navbar {
    margin: 0px 30px 30px 30px;
  }
  .header .header__contenedor .contenedor__links {
    margin: 0px 30px 30px 30px;
  }
  /* Inicio */
  .inicio h2 {
    font-size: 35px;
  }
  .inicio h3 {
    font-size: 28px;
  }
}
/* 454px & 552px */
@media screen and (min-width: 454px) and (max-width: 552px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Header */
  .header .header__contenedor .navbar {
    margin: 0px 30px 30px 30px;
  }
  .header .header__contenedor .contenedor__links {
    margin: 0px 30px 30px 30px;
  }
  .header .header__contenedor .contenedor__logo {
    margin: 10px 30px 10px 30px;
  }
  /* Inicio */
  .inicio h2 {
    font-size: 40px;
  }
  .inicio h3 {
    font-size: 32px;
  }
}
/* 553px & 618px */
@media screen and (min-width: 553px) and (max-width: 618px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Header */
  .header .header__contenedor .navbar {
    margin: 0px 30px 30px 30px;
  }
  .header .header__contenedor .contenedor__logo {
    margin: 10px 30px 10px 30px;
  }
  .header .header__contenedor .contenedor__links {
    margin: 0px 30px 30px 30px;
  }
  /* Inicio */
  .inicio h2 {
    font-size: 50px;
  }
  .inicio h3 {
    font-size: 40px;
  }
}
/* 619px & 650px */
@media screen and (min-width: 619px) and (max-width: 650px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Header */
  .header .header__contenedor .navbar {
    margin: 0px 30px 30px 30px;
  }
  .header .header__contenedor .contenedor__logo {
    margin: 10px 30px 10px 30px;
  }
  /* Inicio */
  .inicio h2 {
    font-size: 50px;
  }
  .inicio h3 {
    font-size: 40px;
  }
}
/* 651px & 698px */
@media screen and (min-width: 651px) and (max-width: 698px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Header */
  .header .header__contenedor .navbar {
    margin: 0px 30px 30px 0px;
  }
  /* Inicio */
  .inicio h2 {
    font-size: 60px;
  }
  .inicio h3 {
    font-size: 48px;
  }
}
/* 699px & 748px */
@media screen and (min-width: 699px) and (max-width: 748px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Inicio */
  .inicio h2 {
    font-size: 60px;
  }
  .inicio h3 {
    font-size: 48px;
  }
}
/* 749px & 847px */
@media screen and (min-width: 749px) and (max-width: 847px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Inicio */
  .inicio h2 {
    font-size: 70px;
  }
  .inicio h3 {
    font-size: 56px;
  }
}
/* 848px & 946px */
@media screen and (min-width: 848px) and (max-width: 946px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Inicio */
  .inicio h2 {
    font-size: 80px;
  }
  .inicio h3 {
    font-size: 64px;
  }
}
/* 946px & 1044px */
@media screen and (min-width: 946px) and (max-width: 1044px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
  /* Inicio */
  .inicio h2 {
    font-size: 90px;
  }
  .inicio h3 {
    font-size: 72px;
  }
}
/* 1045px & 1200px */
@media screen and (min-width: 1045px) and (max-width: 1200px) {
  body {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 100%;
    grid-template-areas: "grid-1" "grid-3" "grid-4" "grid-5" "grid-6" "grid-8";
  }
}
/* The End By lubiano83 */

/*# sourceMappingURL=estilo.css.map */
