/* About */

.about {
    position: relative;
    z-index: 2;
    height: 1000px;
    .titulo {
        margin: 30px;
    }
    .about__texto {
        width: 100%;
        h5 {
            margin: 0px 30px 30px 30px;
            text-align: justify;
        }
    }
}