/* Courses */

.courses {
    height: 100vh;
    .titulo {
        margin: 30px;
    }
    .contenedor__foto {
        width: 100%;
        aspect-ratio: 4/3;
        margin: 0px 30px 0px 30px;
        .foto {
            width: 100%;
            aspect-ratio: 4/3;
            &:hover {
                scale: 1.05;
            }
        }
    }
}