/* Inicio */

.inicio {
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
    h2 {
        font-size: 100px;
        font-weight: bold;
    }

    h2 .span-1 {
        margin: 0px 0px 0px 30px;
    }

    h2 .span-2 {
        margin: 0px 30px 0px 0px;
    }

    h3 {
        font-size: 80px;
        font-style: italic;
    }

    h3 .span-1 {
        margin: 0px 0px 0px 30px;
    }

    h3 .span-2 {
        margin: 0px 30px 0px 0px;
    }
}