/* Inicio */

.inicio {
    width: 100%;
    position: static;
    z-index: 2;
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
    text-shadow: 15px 15px 15px map-get($colores, color-2);
    h2 {
        font-size: 100px;
        font-weight: bold;
    }

    h2 {
        margin: 0px 30px 0px 30px;
    }

    h3 {
        font-size: 80px;
        font-style: italic;
    }

    h3 {
        margin: 0px 30px 0px 30px;
    }
}