/* Mobile Mixins */

@mixin mobile ($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        body {
            grid-template-rows: repeat(6, auto);
            grid-template-columns: 100%;
            grid-template-areas:
                "grid-1"
                "grid-3"
                "grid-4"
                "grid-5"
                "grid-6"
                "grid-8"
            ;
        }

        @content;
    }
}

/* 360px & 405px */
@include mobile(360px, 390px) {
    /* Header */
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 0px;
      }
    /* Inicio */
    .inicio h2 {
        font-size: 54px;
    }
    .inicio h2 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 {
        font-size: 40px;
    }
    .inicio h3 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .header .header__contenedor .contenedor__links {
        margin: 0px 30px 30px 30px;
    }
    /* Tools */
    .tools .tools__contenedor .contenedor__foto {
        width: 125px;
    }
}

/* 391px & 491px */
@include mobile(391px, 491px) {
    /* Header */
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    /* Inicio */
    .inicio h2 {
        font-size: 60px;
    }
    .inicio h2 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 {
        font-size: 45px;
    }
    .inicio h3 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .header .header__contenedor .contenedor__links {
        margin: 0px 30px 30px 30px;
    }
    /* Tools */
    .tools .tools__contenedor .contenedor__foto {
        width: 125px;
    }
}

/* 419px & 446px */
@include mobile(419px, 446px) {
    /* Header */
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    /* Inicio */
    .inicio h2 {
        font-size: 4.0625rem;
    }
    .inicio h2 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 {
        font-size: 50px;
    }
    .inicio h3 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .header .header__contenedor .contenedor__links {
        margin: 0px 30px 30px 30px;
    }
    /* Tools */
    .tools .tools__contenedor .contenedor__foto {
        width: 125px;
    }
}

/* 447px & 501px */
@include mobile(447px, 501px) {
    /* Header */
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    .header .header__contenedor .contenedor__links {
        margin: 0px 30px 30px 30px;
    }
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    /* Inicio */
    .inicio h2 {
        font-size: 4.375rem;
    }
    .inicio h2 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 {
        font-size: 53px;
    }
    .inicio h3 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    /* Tools */
    .tools .tools__contenedor .contenedor__foto {
        width: 125px;
    }
}

/* 502px & 556px */
@include mobile(502px, 556px) {
    /* Header */
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    .header .header__contenedor .contenedor__links {
        margin: 0px 30px 30px 30px;
    }
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    /* Inicio */
    .inicio h2 {
        font-size: 5rem;
    }
    .inicio h2 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 {
        font-size: 3.75rem;
    }
    .inicio h3 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-2 {
        margin: 0px 30px 0px 30px;
    }
}

/* 557px & 611px */
@include mobile(557px, 611px) {
    /* Header */
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
      }
    /* Inicio */
    .inicio h2 {
        font-size: 5.625rem;
    }
    .inicio h2 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 {
        font-size: 4.375rem;
    }
    .inicio h3 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-2 {
        margin: 0px 30px 0px 30px;
    }
}

/* 612px & 698px */
@include mobile(612px, 698px) {
    /* Header */
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
      }
    /* Inicio */
    .inicio h2 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-2 {
        margin: 0px 30px 0px 30px;
    }
}

/* 699px & 884px */
@include mobile(699px, 884px) {
    /* Inicio */
    .inicio h2 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h3 .span-2 {
        margin: 0px 30px 0px 30px;
    }
}

/* 885px & 1021px */
@include mobile(885px, 1021px) {
    /* Inicio */
    .inicio h2 .span-1 {
        margin: 0px 30px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 30px;
    }
}

/* 1022px & 1200px */
@include mobile(1022px, 1200px) {
    /* Inicio */
    .inicio h2 .span-1 {
        margin: 0px 0px 0px 30px;
    }
    .inicio h2 .span-2 {
        margin: 0px 30px 0px 0px;
    }
}

/* The End By lubiano83 */