/* Mobile Mixins */

@mixin mobile ($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        body {
            grid-template-rows: repeat(6, auto);
            grid-template-columns: 100%;
            grid-template-areas:
                "grid-1"
                "grid-3"
                "grid-4"
                "grid-5"
                "grid-6"
                "grid-8"
            ;
        }

        @content;
    }
}

/* 360px & 404px */
@include mobile(360px, 404px) {
    /* Header */
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 0px;
    }
    /* Inicio */
    .inicio h2 {
        font-size: 30px;
    }
    .inicio h3 {
        font-size: 24px;
    }
    .header .header__contenedor .contenedor__links {
        margin: 0px 30px 30px 30px;
    }
    /* Tools */
    .tools .tools__contenedor .contenedor__foto {
        width: 125px;
    }
}

/* 405px & 453px */
@include mobile(405px, 453px) {

    /* Header */
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    .header .header__contenedor .contenedor__links {
        margin: 0px 30px 30px 30px;
    }
    /* Inicio */
    .inicio h2 {
        font-size: 35px;
    }
    .inicio h3 {
        font-size: 28px;
    }
    /* Tools */
    .tools .tools__contenedor .contenedor__foto {
        width: 125px;
    }
}

/* 454px & 552px */
@include mobile(454px, 552px) {

    /* Header */
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    .header .header__contenedor .contenedor__links {
        margin: 0px 30px 30px 30px;
    }
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    /* Inicio */
    .inicio h2 {
        font-size: 40px;
    }
    .inicio h3 {
        font-size: 32px;
    }
    /* Tools */
    .tools .tools__contenedor .contenedor__foto {
        width: 125px;
    }
}

/* 619px & 650px */
@include mobile(553px, 618px) {
    
    /* Header */
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    .header .header__contenedor .contenedor__links {
        margin: 0px 30px 30px 30px;
    }
    /* Inicio */
    .inicio h2 {
        font-size: 50px;
    }
    .inicio h3 {
        font-size: 40px;
    }
}

/* 619px & 650px */
@include mobile(619px, 650px) {

    /* Header */
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 30px;
    }
    .header .header__contenedor .contenedor__logo {
        margin: 10px 30px 10px 30px;
    }
    /* Inicio */
    .inicio h2 {
        font-size: 50px;
    }
    .inicio h3 {
        font-size: 40px;
    }
}

/* 651px & 698px */
@include mobile(651px, 698px) {

    /* Header */
    .header .header__contenedor .navbar {
        margin: 0px 30px 30px 0px;
    }

    /* Inicio */
    .inicio h2 {
        font-size: 60px;
    }
    .inicio h3 {
        font-size: 48px;
    }
}

/* 699px & 748px */
@include mobile(699px, 748px) {

    /* Inicio */
    .inicio h2 {
        font-size: 60px;
    }
    .inicio h3 {
        font-size: 48px;
    }
}

/* 749px & 847px */
@include mobile(749px, 847px) {

    /* Inicio */
    .inicio h2 {
        font-size: 70px;
    }
    .inicio h3 {
        font-size: 56px;
    }
}

/* 848px & 946px */
@include mobile(848px, 946px) {
    /* Inicio */
    .inicio h2 {
        font-size: 80px;
    }
    .inicio h3 {
        font-size: 64px;
    }
}

/* 946px & 1044px */
@include mobile(946px, 1044px) {
    /* Inicio */
    .inicio h2 {
        font-size: 90px;
    }
    .inicio h3 {
        font-size: 72px;
    }
}

/* 1045px & 1200px */
@include mobile(1045px, 1200px) {

}

/* The End By lubiano83 */