/* Variables Colores */

$color1: #000000;
$color2: #2A272A;
$color3: #4B4A54;
$color4: #677381;
$color5: #82A0AA;
$color6: #A3CFCD;

/* Variables Sizes */

$size1: 64px;
$size2: 56px;
$size3: 48px;
$size4: 36px;
$size5: 20px;
$size6: 16px;
