/* Works */

.works {
    height: 100vh;
    position: static;
    z-index: 2;
    min-height: auto;
    .titulo {
        margin: 30px;
    }
    .works__contenedor {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .contenedor__foto {
            width: 300px;
            aspect-ratio: 1/2;
            margin: 0px 15px 30px 15px;
            .foto {
                width: 100%;
                aspect-ratio: 1/2;
                &:hover {
                    scale: 1.05;
                }
            }
        }
    }
}